/*
Selector in CSS
	1) Tag
	2) Class (select by .)
	3) ID (select by #)

syntax :
	Selector {
		property: value;
		color:white;
		background-color:green;
		font-size:20px;
		text-align:left right center justify;
	}
*/
.register_form{
	border: 2px solid grey;
	
	padding-right: px;
	width: 75%;
	margin-left: 150px;
	/*margin-right: 10px;*/
}
.register_form_heading{
	padding-left: 10px;
}
.register_form_form{
	padding-left: 10px;
}
.register_form_heading_reg{
	font-size: 50px;
}
.text{
	font-size: 20px;
}
input{
	width: 95%;
	border: none;
	background-color: #f1f1f1;
	padding: 20px;

	/*margin-right:5px;*/
}
button{
	background-color: green;
	padding: 15px;
	width:96%;
	border: none;
	font-size: 20px;
	color: white;
}
.register_form_footer{
	background-color: #f1f1f1;
	padding: 15px;
}